{% extends "base.twig" %}

{% block content %}
    <div class="small-12 large-8 columns">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <h1 class="article-h1">How embarrassing!</h1>

                <div class="article-body">
                    <p>Sorry, we couldn't find what you're looking for.</p>
                    <div class="search-box">{{function("get_search_form")}}</div>
                </div>
            </section>

        </article>
    </div> <!-- /content-wrapper -->
    {% if sidebar %}
        <aside class="large-4 columns my-sidebar">
            {% include ['sidebar.twig'] %}
        </aside>
    {% endif %}

{% endblock %}